.project {
  position: absolute;
  color: rgba(255,255,255,1);

  &_header, &_image, &_stack, &_linkbar {
    position: absolute;
  }

  &_image {
    width: 50vw;
    margin: 20vh 25vw;
    opacity: .7;
  }

  &_header {
    margin-top:10vh;
    width: 100vw;
    align-items: center;
    text-align: center;
    font-weight: 300;
  }

  &_stack {
    width: 40vw;
    padding: 0 30vw;
    font-size: 1.5rem;
    margin-top: 30vh;
    display: flex;
    z-index: 10;
    text-align: center;
    font-weight: 300;
  }

  &_linkbar {
    width: 40vw;
    padding: 0 30vw;
    font-size: 1.5rem;
    margin-top: 70vh;
    display: flex;
    z-index: 10;
    text-align: center;
    display: inline-flex;
    align-content: space-between;
    font-weight: 500;

    a, a:visited {
      text-decoration: none;
      color: rgba(255, 255, 255, 1);
      margin: auto;
    }
  }

  @media (max-width:425px) {
    &_image {
      width: 90vw;
      margin: 20vh 5vw;
    }

    &_stack {
      width: 80vw;
      padding: 0 10vw;
      font-size: 1.1rem;
    }

    &_linkbar {
      width: 90vw;
      padding: 0 5vw;
    }
  }
}