.project {
  color: rgba(255,255,255,1);
  position: absolute;

  &_header, &_stack, &_linkbar {
    position: absolute;
  }

  &_header {
    align-items: center;
    font-weight: 300;
    margin-top:10vh;
    text-align: center;
    width: 100vw;
  }

  &_stack {
    display: block;
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 30vh;
    padding: 0 30vw;
    text-align: center;
    width: 40vw;
    z-index: 10;
  }

  &_linkbar {
    align-content: space-between;
    display: flex;
    display: inline-flex;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 70vh;
    padding: 0 30vw;
    text-align: center;
    width: 40vw;
    z-index: 10;

    a, a:visited {
      color: rgba(255, 255, 255, 1);
      margin: auto;
      text-decoration: none;
    }
  }

  @media (max-width:425px) {
    &_stack {
      display: block;
      font-size: 1.1rem;
      padding: 0 10vw;
      text-align: center;
      width: 80vw;
    }

    &_linkbar {
      padding: 0 5vw;
      width: 90vw;
    }
  }
}