div.logo_spinner__tagline
  span.logo_spinner__tagline__inner i
  span.logo_spinner__tagline__inner m
  span.logo_spinner__tagline__inner a
  span.logo_spinner__tagline__inner g
  span.logo_spinner__tagline__inner i
  span.logo_spinner__tagline__inner n
  span.logo_spinner__tagline__inner a
  span.logo_spinner__tagline__inner t
  span.logo_spinner__tagline__inner i
  span.logo_spinner__tagline__inner o
  span.logo_spinner__tagline__inner n
  span.logo_spinner__tagline__inner  
  span.logo_spinner__tagline__inner i
  span.logo_spinner__tagline__inner s
  span.logo_spinner__tagline__inner  
  span.logo_spinner__tagline__inner t
  span.logo_spinner__tagline__inner h
  span.logo_spinner__tagline__inner e
  span.logo_spinner__tagline__inner  
  span.logo_spinner__tagline__inner o
  span.logo_spinner__tagline__inner n
  span.logo_spinner__tagline__inner l
  span.logo_spinner__tagline__inner y
  span.logo_spinner__tagline__inner  
  span.logo_spinner__tagline__inner b
  span.logo_spinner__tagline__inner o
  span.logo_spinner__tagline__inner u
  span.logo_spinner__tagline__inner n
  span.logo_spinner__tagline__inner d
  span.logo_spinner__tagline__inner a
  span.logo_spinner__tagline__inner r
  span.logo_spinner__tagline__inner y