.work {
  align-content: space-around;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: row;
  float: left;
  font-weight: 300;
  height: 90vh;
  list-style-type: none;
  opacity: 0;
  overflow: visible;
  padding: 2rem;
  position: absolute;
  text-align: center;
  width: 100vw;

  &_item {
    cursor: pointer;
    display: inline-table;
    margin-right: 10vw;
    width: 50vw;

    &:first-child {
      margin-left:20vw;
    }

    &:last-child {
      margin-right:20vw;
    }
  }
  &__img {
    width: 100%
  }

  &__header {
    font-weight: 300;
  }

  ul {
    text-align: left;
  }

  @media (max-width:425px) {
    margin: 20% 0;
    padding: 2rem 1rem;

    &__header {
      font-size: .8rem;
    }

    &_item {
      float: left;
      margin-right: 5vw;
      width: 90vw;
  
      &:first-child {
        margin-left:0;
      }
    }
  }
}