.about {
  background: rgba(0,0,0,0.5);
  box-sizing: border-box;
  color: white;
  font-weight: 300;
  height: 80vh;
  margin: 0 5% 10%;
  opacity: 0;
  overflow: auto;
  padding: 2rem;
  position: absolute;
  text-align: center;
  width: 90vw;

  h1 {
    font-weight: 400;
  }

  ul {
    text-align: left;
  }
}