.navbar {
  bottom: 0;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100vw;
  z-index: 1;

  .link {
    background: rgba(255,255,255,0);
    border: none;
    color: rgba(255,255,255,1);
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    text-transform: uppercase;

    &:focus {
      outline: none;
    }

    &--active {
      .link__inner {
        letter-spacing: 1rem;
        transition: letter-spacing 1s;
      }
    }
  }
}